---
import { l } from "astro-i18n";
---

<ul>
    <li>
        <a href={l("/")}>Index</a>
    </li>
    <li>
        <a href={l("/contact")}>Contact</a>
    </li>
    <li>
        <a href={l("/cookies")}>Cookies</a>
    </li>
</ul>
